<div class = 'login'>

    <div  class = "login-f" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="_submitForm()">
        <h4>后台管理系统</h4>
        <div nz-form-item>
            <div nz-form-control [nzValidateStatus]="validateForm.controls.userName" >
                <nz-input formControlName="userName" (blur)='verify()' [(ngModel)]= 'username'[nzPlaceHolder]="'请输入用户名！'" [nzSize]="'large'">
               
                    <ng-template #prefix>
                        <i class="anticon anticon-user"></i>
                    </ng-template>
                </nz-input>
                <div nz-form-explain *ngIf="validateForm.controls.userName.dirty&&validateForm.controls.userName.hasError('required')">请输入用户名！
                </div>
            </div>
        </div>
        <div nz-form-item>
            <div nz-form-control [nzValidateStatus]="validateForm.controls.password">
                <nz-input formControlName="password" [(ngModel)]= 'password' [nzType]="'password'" [nzPlaceHolder]="'请输入密码！'" [nzSize]="'large'">
                    <ng-template #prefix>
                        <i class="anticon anticon-lock"></i>
                    </ng-template>
                </nz-input>
                <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">请输入密码！
                </div>
            </div>
        </div>
        <div nz-form-item>
            <div nz-form-control>
                <label nz-checkbox formControlName="remember">
                    <span>记住我</span>
                </label>
                <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
                <button nz-button class="login-form-button" (click) = 'login()' [nzType]="'primary'" [nzSize]="'large'">登录
                </button>
            </div>
        </div>
    </div>
</div>

<nz-spin [nzTip]="'正在读取数据...'" [nzSize]="'large' "*ngIf = 'loging' class = 'loging'>
      <nz-alert [nzType]="'info'">
      </nz-alert>
</nz-spin>


