:host ::ng-deep .logo {
  	height: 60px;
  	background-color: #10a2e9;
  	border-radius: 1px;
    width:100%;
    position:relative;
    .logo-img{
        width:20%;
        position:absolute;
        left:50%;
        top:50%;
        border-radius:50%;
        transform:translate(-50%,-50%);
        overflow:hidden;
        img{
            width:100%;
        }
    }
}
.nav-text{
  font-size:14px;
}
:host ::ng-deep .logo_img {
    height: 200px;
    background-color: #10a2e9;
    border-radius: 50%;
}
.ant-layout-header{
    height:76px;
    position:fixed;
    top:0;
    left:200px;
    right:0;
    border-bottom:16px solid#ececec;;
    z-index:10;

}

.my{
    position:absolute;
    right:-60px;
    top:70%;
    transform:translate(-50%,-50%);
    height:60px;
    width:150px;
    img{
      position:absolute;
      top:0px;
      right:160px;
        width:40px;
        height:40px;
        border-radius: 50%;
        
    }
    font-size:14px;
    font-weight:600;
}
.ht_admin{
  font-weight:600;
  display:inline-block;
  height:60px;
  line-height:60px;
  font-size:16px;
}
.dd{
    background:#2a6cc3;
    li{
        font-size:14px;
    }
}
.exit{
    position:absolute;
    right:40px;
    top:50%;
    transform:translate(-50%,-50%);
}
.select{
    position:absolute;
    width:100px;
    right:200px;
    top:50%;
    transform:translate(-50%,-50%);
}

:host ::ng-deep .ant-layout-sider-collapsed .nav-text {
  	display: none;
    font-size:14px;
}

:host ::ng-deep .ant-layout-sider-collapsed .ant-menu-submenu-title:after {
  	display: none;
    
}

:host ::ng-deep .ant-layout-sider-collapsed .anticon {
  	font-size: 16px;
  	margin-left: 8px;
}

:host ::ng-deep .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}
.ant-menu-dark{
  background-color: rgba(63, 81, 181, 0.57);
  color:#fff;
}

:host ::ng-deep .trigger:hover {
  color: #108ee9;
}
.ant-layout.ant-layout-has-sider{
	height:100%;
}
.ant-layout-sider{
	background-color: #1190d6;
	
}