/* 
* @Author: Marte
* @Date:   2018-03-03 19:38:36
* @Last Modified by:   Marte
* @Last Modified time: 2018-03-05 14:47:42
*/
table{
    width:100%;
    border:1px solid#ccc;
    border-collapse:collapse;
}
thead th{
    border:1px solid#ccc; 
    text-align:center;
    padding:8px 15px;
    color:#000;
    font-size:14px;
    font-weight:600;
}
table td{
    font-size:12px;
    border:1px solid#ccc; 
    text-align:center;
    padding:8px 15px;
}
.even{
    background:#58bc5814;
    
}
.active{
    background:#8d6bc9c7;
    color:#fff;
}
#box{position:relative;}
.pagination{position:absolute;right:100px;bottom:-40px;}
.pagination span{
    padding:5px;
    background:#ccc;
    margin-right:2px;
}