<div class="c-content-inner">
    <form>
        <div class="row" *ngIf = "!seach">
            <div class="col-md-6" *ngFor="let col of colsConfig">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-right">{{privateDic[common.lanType] && privateDic[common.lanType][col] ? privateDic[common.lanType][col] : common.publicDic[common.lanType][col] || col}}</label>
                    <div class="col-md-7" *ngIf="!colsAttributes[col]">
                        <input type="text" class="form-control" [(ngModel)] = 'Dataset[col]' [name]="col">
                    </div>  
                    <div *ngIf="colsAttributes[col]" [ngSwitch]="colsAttributes[col].type" class="col-md-7">
                        <select *ngSwitchCase="'select'">
                            <option [value]="obj.value" [selected]="obj.value == colsAttributes[col].defaultvalue" *ngFor="let obj of colsAttributes[col].data">{{obj.text}}</option>
                        </select>
                        <select *ngSwitchCase="'select-api'" [(ngModel)] = "store.selectValue" name = "1" class="form-control select">
                            <ng-template ngFor let-obj [ngForOf]="selectApiDataSet[col]">
                                    <option [value]="obj[colsAttributes[col].match.value]" *ngIf="obj[colsAttributes[col].match.value] == colsAttributes[col].defaultvalue" selected>{{obj[colsAttributes[col].match.text]}}</option>
                                    <option [value]="obj[colsAttributes[col].match.value]" *ngIf="obj[colsAttributes[col].match.value] != colsAttributes[col].defaultvalue">{{obj[colsAttributes[col].match.text]}}</option>
                            </ng-template>
                        </select> 
                        <select *ngSwitchCase="'select-small-api'" [(ngModel)] = "store.smallValue" name = "2" class="form-control select">
                            <ng-template ngFor let-obj [ngForOf]="smallAttributes[col]">
                                    <option [value]="obj[colsAttributes[col].match.value]" *ngIf="obj[colsAttributes[col].match.value] == colsAttributes[col].defaultvalue && obj[colsAttributes[col].match.bigtype] == store.selectValue" selected>{{obj[colsAttributes[col].match.text]}}</option>
                                    <option [value]="obj[colsAttributes[col].match.value]" *ngIf="obj[colsAttributes[col].match.value] != colsAttributes[col].defaultvalue && obj[colsAttributes[col].match.bigtype] == store.selectValue">{{obj[colsAttributes[col].match.text]}}</option>
                            </ng-template>
                        </select>           
                    </div>
                </div>
            </div>
            <div class= "btns">
                <button type="button" class="btn btn-default" (click)='quxiao()'>取消</button>
                <button type="button" class="btn btn-primary" (click)= 'queding()'>确定</button>
            </div>
        </div>
        <div class="c-content-inner search" *ngIf = 'seach'>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="c-line-title">条件查询</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" *ngFor="let col of colsConfig">
                    <div class="form-group row" >
                        <label class="col-md-3 col-form-label text-right">{{privateDic[common.lanType] && privateDic[common.lanType][col] ? privateDic[common.lanType][col] : common.publicDic[common.lanType][col] || col}}</label>
                        <div class="col-md-9" *ngIf="!colsAttributes[col]">
                            <input type="text" class="form-control" [(ngModel)] = 'Dataset[col]' [name]="col">
                        </div>  
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group findSearch">
                        <button class="btn btn-primary"  (click) = "search()"><i class="fa fa-search fa-fw"></i> 查询</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div *ngIf='success' class = "alert">
    <p class = "alert-success"><span>成功</span><span class="sc" (click) = "none()">&times;</span></p>
</div>
<div *ngIf='error' class = "alert">
    <p class = "alert-error"><span>该用户已注册</span><span class="sc" (click) = "none()">&times;</span></p>
</div>
<div *ngIf='warn' class = "alert">
    <p class = "alert-warn"><span>请完善与核对信息</span><span class="sc" (click) = "none()">&times;</span></p>
</div>