/* 
* @Author: Marte
* @Date:   2018-03-05 17:36:48
* @Last Modified by:   Marte
* @Last Modified time: 2018-03-05 22:29:49
*/
/*.cc{
    overflow: hidden;
}
.form{
    width:40%;
    float:left;
    position:relative;
    >label{
        position:absolute;
        left:10;
    }
    .form-right{
        float:right;
        padding-left:100px;

   }
}*/
.btns{
    padding-left:45%;
}
.search{
    height:50px;
    h5{
        height:20px;
        line-height:20px;
        border-left:3px solid #1190d6;
        padding-left:20px;
        margin-bottom:10px;
    }
}
.alert{
    position:absolute;
    top:15px;
    left:50%;
    height:50px;
    width:400px;
    z-index:100;
    
    transform:translate(-50%,-50%);
    >p{
        border-radius:20px;
        height:30px;
        padding:0 10px;
        line-height:30px;
        font-size:16px;
        position:relative;
        .sc{
            position:absolute;
            right:20px;
        }

    }
}
.alert-success{
    background-color: #4dbd74 !important;
    color:#fff !important;
}
.alert-error{
    background-color: #f86c6b !important;
    color:#fff !important;
}
.alert-warn{
    background-color: #f0bd0a !important;
    color:#fff !important;
}
.row{
    margin-top:10px;
}
.findSearch{
     margin-top:10px;
}


